/*Blue 900 (Dark Mode Elements): hsl(209, 23%, 22%)
- Blue 950 (Dark Mode Background): hsl(207, 26%, 17%)
- Grey 950 (Light Mode Text): hsl(200, 15%, 8%)
- Grey 400 (Light Mode Input): hsl(0, 0%, 50%)
- Grey 50 (Light Mode Background): hsl(0, 0%, 99%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 100%, 100%)*/
html.light {
  --bg: hsl(0, 0%, 99%);
  --text: hsl(200, 15%, 8%);
  --input-color: hsl(0, 0%, 50%);
  --bg-element: hsl(0, 100%, 100%);
  --bx: rgba(100, 100, 111, 0.2);
  --loader-bg: hsl(0, 0%, 100%, 0.1);
  --loader-color: hsl(200, 15%, 8%);
}

html.dark {
  --bg: hsl(207, 26%, 17%);
  --text: hsl(0, 100%, 100%);
  --input-color: hsl(0, 0%, 100%);
  --bg-element: hsl(209, 23%, 22%);
  --bx: hsla(200, 15%, 8%, 0.2);
  --loader-bg: hsl(200, 15%, 8%, 0.1);
  --loader-color: hsl(0, 0%, 100%);
}
html.no-transition * {
    transition: none !important;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito Sans, sans-serif;
    font-size: 1em;
    transition: background-color 0.3s ease, color 0.3s ease;
}
body{
    background-color: var(--bg);
}
button{
  border: none;
  cursor: pointer;
}
.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg);
  /*padding: 0 1em;*/
}
.header, .filters{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header{
  background-color: var(--bg-element);
  color: var(--text);
  padding: 1.5em 1em;
  box-shadow: var(--bx) 0 7px 29px 0;
  margin-bottom: 20px;
}
.header button{
  display: flex;
  gap: 0.5em;
  background-color: var(--bg-element);
  color: var(--text);
    font-weight: 700;
}
.header button:hover svg{
  transform: scale(1.2) rotate(-45deg);
  transition: transform 0.4s ease-in-out;
}
.filters{
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: column;
  padding: 1em;


}
.filters .input{
  width: 100%;
  max-width: 450px;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 1.5em;
  padding: 1.5em;
  margin-bottom: 1em;
  color: var(--input-color);
  /*border: 1px solid red;*/
  background-color: var(--bg-element);
  box-shadow: var(--bx) 0 7px 25px 0;
}
.filters input{
  border: none;
  outline: none;
  background-color: var(--bg-element);
  flex-grow: 1;
  color: var(--text);
}
.filters svg{
  fill: var(--input-color);
}
.filters input::placeholder{
  color: var(--input-color);
}
select{
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*box-shadow: var(--bx) 0 7px 29px 0;*/
  padding: 1em 2em;
  background: var(--bg-element);
  cursor: pointer;
  color: var(--text);
  border: none;

  &, &::picker(select){
    appearance: base-select;
    border-radius: 8px;
    background-color: var(--bg-element);
  }
  &::picker(select){
    padding: 1em;
    margin-top: 0.5em;
    box-shadow: var(--bx) 0 7px 20px 0;
    border: none;
  }
  option{
    padding: 1em 1.5em;
    border-radius: 8px;
    color: var(--text);
  }
  &::picker-icon{
    display: none;
  }
  .picker{
    transition: transform 0.3s ease;
    :open & {
      transform: rotate(180deg);
    }
  }

}
option::checkmark{
  display: none;
}
.filter{
  box-shadow: var(--bx) 0 7px 20px 0;
  width: max-content;
  height: max-content;
  border-radius: 8px;
}

ul > p{
    color: var(--text);
    font-size: 1.2em;
}
ul{
  min-height: 60vh;
  height: auto;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: flex-start;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 300px) ;
  gap: 3em;
  padding: 2em;
}
li.card{
  list-style: none;
  border-radius: 8px;
  min-width: 0;
  width: 100%;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  box-shadow: var(--bx) 0 7px 29px 0;
  cursor: pointer;
}
li.card:hover{
  box-shadow: var(--bx) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
li.card img{
  height: 50%;
  width: 100%;
  border-radius: 8px 8px 0 0;
}
li.card h2{
    font-size: 1.5em;
    font-weight: 800;
}
.card-content {
  padding: 2em;
  color: var(--text);
  line-height: 25px;
}
.card-content span, .country-content span{
  font-weight: 700;
}
span.lang{
    font-weight: 400;
}
.card-content h2{
  font-size: 1.1em;
  padding-bottom: 0.6em;
}
.country{
    padding: 1.5em;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
button.back-btn{
    margin-bottom: 20px;
    justify-self: flex-start;
    align-self: flex-start;
    height: max-content;
}
button.back-btn, button.border{
    border: none;
    border-radius: 4px;
    display: flex;
    padding: 0.5em 1.5em ;
    box-shadow: var(--bx) 0 7px 29px 0;
    background-color: var(--bg-element);
    color: var(--text);
    fill: var(--text);
    gap: 0.8em;
}
.border-list{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-top: 1em;
}
.country-image img{
    width: 100%;
}
.country-details{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.country-content h1{
    font-size: 1.5em;
    padding-bottom: 0.6em;
}
.country-content{
    padding: 3em 0;
    color: var(--text);
    line-height: 30px;
}
.curr{
    text-transform: capitalize;
}
.loader-container{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 70vh;
  width: 100%;
  padding-top: 5em;
  background-color: var(--bg);
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid var(--loader-color);
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.footer{
    color: var(--text);
    padding-bottom: 1em;
}
.footer a{
    text-decoration: none;
    color: var(--text);
}

@media (min-width: 680px){
    .header{
        padding: 2em 5em;
        margin-bottom: 20px;
    }
    .header button{
        display: flex;
        gap: 0.5em;
        background-color: var(--bg-element);
        color: var(--text);
    }
    .header h2{
        font-size: 1.7em;
    }

    .filters{
        /*flex-direction: row;*/
        justify-content: space-between;
        padding: 2em 5em;
        gap: 1em;
    }
    .filters .input{
        max-width: 450px;
        margin: 0;
        align-items: center;
    }
    .filter{
        height: max-content;
    }
    li.card{
        height: 400px;
    }
    ul{
        grid-template-columns: repeat(auto-fit, 250px) ;
        gap: 4em;
        padding: 2em 4em;
    }
    .country{
        padding: 2em 5em;
    }
    .country-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
    }
    .country-details{
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        gap: 6em;
        padding-top: 0;
        justify-self: flex-start;
        align-self: flex-start;
    }
    .country-image{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .country-image img{
        max-width: 600px;
        max-height: 400px;
    }
    div.pop{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4em;
    }
    .footer{
        justify-self: center;
        align-self: flex-end;
        padding: 0;
    }
}

@media (min-width: 1000px){
    .filters{
        flex-direction: row;
    }
}